/*Header画像エリア  開始*/

#EV_header img{
    width: 100%;
    height: 300px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

/*Header画像エリア CSS 終了*/
/*-------------------------------------------------*/

/*イベントのタイトル ＋ 写真 CSS 開始*/

#EV_Title{
    display: grid;
    text-align: center;
}

#EV_Title h1{
    color: #DD0000;
    font-family: 'HandWriteFont';
    font-size: 50px;
}

#EV_Title h2{
    color: #DD0000;
    font-family: 'OutlineFont';
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#EV_Title img{
    width: 610px;
    height: 327px;
}


/*イベントのタイトル ＋ 写真 CSS 終了*/
/*-------------------------------------------------*/

/*イベント詳細 CSS 開始*/

#event_BigDetails{
    display: grid;
    justify-content: center;
    margin: 30px 0 50px 0px;
}

#event_Box1{
    display: flex;
    margin-bottom: 20px;
    /* margin-left: -150px; */
}

.event_InfoTitle{
    display: grid;
    margin-right: 60px;
    margin-left: 35px;
}

.EV_Small_Title{
    margin: 20px 30px;
}

.event_SmallContent{
    display: grid;
    width: 500px;
}

#eventName, #eventTheme,#eventTime,
#event_Meet_Time, #eventPlace, #eventPeople,
#eventInfo, #eventHour, #eventDetail
{
    background-color: #cbcbcb;
    padding: 10px 20px;
    margin: 10px 30px;
    border-radius: 20px;
    /* height: 40px; */
    /* word-break: break-word; */
    /* display: inline-block; */
}


#event_Box2{
    padding: 20px 150px;
}

#joinEventBtn{
    text-align: center;
    text-decoration: none;
}

#detailBox{
   display: flex;
}

#eventInfo{
    word-break: break-all;
}

#eventDetail{
    word-break: break-all;
    margin: 0px 0px 0px 80px;
    width: 450px;
}


#submitBtn{
    background-color:orange;
    color: #ffff;
    font-family: 'HandWriteFont';
    font-size: 25px;
    padding: 15px 40px;
    border-radius: 10px;
    box-shadow: 7px 5px 5px gray;
}

/*イベント詳細 CSS 終了*/
/*-------------------------------------------------*/

/* 団体アイコン＋団体紹介エリア CSS 開始 */

#selfInfo_TopArea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
    text-decoration: none;
}

#selfInfo_TopArea p,
#selfInfo_TopArea h1{
    color: black;
}

#selfInfo_TopArea h1{
    margin-bottom: 20px;
}

#selfIcon_pic{
    margin-right: 30px;
}

#selfIcon_pic img{
    width:300px;
    height: 300px;
    object-fit: cover;
}


#selfInfo_Box h1{
    font-family: 'HandWriteFont';
    font-size: 60px;
    padding: 10px 0px;
}

#selfInfo_title{
    font-family: 'HandWriteFont';
    font-size: 30px;
}

.word-break {
    display: flex;
  }
  
.word-break div {
    margin-top: 20px;
    /* border: 2px solid red; */
    width: 430px;
}

#toHostPage{
    text-decoration: underline;
    color: #DD0000;
    cursor: pointer;
}

#toHostPage:hover{
    font-weight: 600;
}
  
/* .normal p{
    word-break: break-word;
  } */
/* 団体アイコン＋団体紹介エリア CSS 終了*/
/*-------------------------------------------------*/