/*Header画像エリア ＋ ページ名CSS 開始*/

#hostpage_header{
    display: flex;
}

#hostpage_header img{
    width: 100%;
    height: 300px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}

#hostpage_tilte{
    background-color: #DD0000;
    top: 265px;
    left:70% ;
    padding: 20px 40px;
    z-index: 500;
    position: absolute;
    text-align: center;
    
}

#hostpage_tilte h1{
    color: #ffff;
    font-size: 40px;
    font-family: 'OutlineFont';
}

#hostpage_tilte p{
    color: #ffff;
    font-weight: bold;
}

/*Header画像エリア ＋ ページ名CSS 終了*/
/*-------------------------------------------------*/

/* 団体アイコン＋団体紹介エリア CSS 開始 */

#selfInfo_TopArea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

#selfIcon_pic img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#redDecoBox{
    border-left: 6px solid #DD0000;
    height: 330px;
    margin-right: 50px;
    margin-left: 50px;
  }

#selfInfo_Box{
    padding-top: 120px;
}

#selfInfo_Box h1{
    font-family: 'HandWriteFont';
    font-size: 60px;
    padding: 10px 0px;
}

#selfInfo_title{
    font-family: 'HandWriteFont';
    font-size: 30px;
}

.word-break {
    display: flex;
  }
  
.word-break div {
    margin-top: 20px;
    /* border: 2px solid red; */
    width: 380px;
}
  
.normal p{
    word-break: break-all;
  }

/* 団体アイコン＋団体紹介エリア CSS 終了*/
/*-------------------------------------------------*/

/* 投稿写真＋イベントエリア CSS 開始 */

/*ボタン*/
.hostView_Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}


.hostView_Btn button,
.hostView_Btn a{
    padding: 15px 40px;
    margin: 0px 20px;
    background-color: #ffffff;
    border: dashed 2px #DC0000;
    border-radius: 10px;
    font-family: 'HandWriteFont';
    font-size: 25px;
    box-shadow: 7px 5px 5px gray;
    color: black;
    text-decoration: none;
}


.hostView_Btn button:hover,
.hostView_Btn a:hover{
    background-color: #DC0000;
    color: #ffffff;
    border: dashed 2px #ffffff;
}


/*写真*/

#hostPostImg{
    /*display:none to grid*/
    display: grid;
    justify-content: center;
    align-items: center;
}

#attendantImg{
    /*display:none to grid*/
    display: none;
    justify-content: center;
    align-items: center;
}

.imgRow{
    display: flex;
}

.imgBox{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.imgBox img{
    width: 40vmin;
    height: 40vmin;
    object-fit: cover;
    margin-right: 30px;
    margin-bottom: 30px;

}


/* ポップアップエリア */

.full-screen{
    /* position: absolute; */
    position: fixed; 
    display: inline-block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    color: white;
    z-index: 10000000;
}

.flex-container-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.hidden{
    display: none;
}

.background {
    background-color: white;
    padding: 20px;
}

.close-Popup{
    color: white;
    font-size: 50px;
    text-decoration: none;
    position: absolute;
    top: -20;
    z-index: 100;
    right: 390px;
    text-shadow:0 0 0.125em hsl(0 0% 100%/ 0.5), 0 0 0.45em currentColor;
}

.hidden-content{
    display: flex;
}

.hidden-content-left{
    width: 460px;
    height: 465px;
    text-align: center;
}

.hidden-content-left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.hidden-content-left button{
    width: 120px;
    height: 30px;
    background-color: #DC0000;
    color: #ffffff;
    font-family: 'KleeOneFont';
}

.hidden-content-right{
    display: grid;
    margin-left: 30px;
}

.hidden-content-right a{
    color: #ffffff;
}

/*イベント履歴*/
.eventHistory{
    /* display: none to block; */
    display: none;
}

.place-content{
    display: grid;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.event-item{
    background:#eeeeee;
    border-radius: 10px;
    padding:15px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.item-box{
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    color: #555555;
    width: 600px;
}

.event-item:hover{
    background:#999999;
}

.center-item{
    display: flex;
    width: 100%;
    align-items: center;
}

.event-item img{
    width: 40vmin;
    height: 40vmin;
    margin-right: 30px;
    object-fit: cover;
}

.event-item h5{
    padding: 0px 45px;
}
/* 投稿写真＋イベント履歴エリア CSS 終了 */
/*----------------------------------------------------------------------------------*/

/* ホストログインした、マイページ専用のCSS　開始*/

.eventControl{
    display: block;
}

.information{
    padding-right: 60px;
}

.informationUser{
    width: 300px;
    padding-right: 60px;
}

.eventControl_Img img{
    width: 30vmin;
    height: 30vmin;
    margin-right: 30px;
    object-fit: cover;
}

#event01_Status_Active{
    color: #DC0000;
}

#event01_Status_Finished{
    color: rgb(0, 0, 234);
}

.joinedPpl_Control{
    display: none;
}

.joinedPpl_Control_Img img{
    width: 30vmin;
    height: 30vmin;
    margin-right: 30px;
    object-fit: cover;
}

.scroll-bg{
    background-color: #f0f0f0;
    width: 845px;
    margin: 3% auto;
    padding: 30px;
    border-radius: 20px;
}

.scroll-div{
    width: 790px;
    background-color: #f0f0f0;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
}


/* ホストログインした、マイページ専用のCSS　終了*/

