
/* Opening エリア CSS　開始*/

/* Normal flashing*/
/* #home img{
  display: none;
  width: 100%;
  padding: 20px;
  z-index: 1;
} */



/*fade out code*/
#Opening{
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    height: 100vh;
  }

  #home{
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  #home img{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 1;
    object-fit: cover;
  }

  #home img:first-child {
    opacity: 1;
  }

  .fade-in-image {
    animation: fadeIn 2s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  .fade-out-image {
    animation: fadeOut 2s;
  }
  @keyframes fadeOut {
    0% {opacity:1;}
    100% {opacity:0;}
  }
  

  
/*検索ボックス　CSS　開始 */

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#search{
    width:100%;
    position: absolute;
    z-index: 500;
    top: 83%;
    left: 47%;
    transform: translate(-50%, -50%);
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 25px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color:#555555;
}

::placeholder{
    color:#555555;
}

.search-bar button img{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 115px;
    height: 65px;
    background-color:#999999;
    cursor: pointer;
}

/*ホーム写真自動的に変更エリア　CSS　開始 */
#HeartrusFoxFront{
  width: 25%;
  position: absolute;
  z-index: 499;
  top: 44%;
  left: 75%;
}


/*ホーム写真自動的に変更エリア　CSS　終了 */


/*指定エリア+テーマ　ボックス　CSS　開始 */

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: rgba(255, 255, 255, 0.5);
    background-image: none;
    border-radius: 10px;
}

select::-ms-expand{
    display: none;
}

.select{
    position: relative;
    display: flex;
    width: 15em;
    height: 3em;
    line-height: 3;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px) saturate(180%);
    overflow: hidden;
    border-radius: 10px
}

select {
    flex: 1;
    padding: 0.5em;
    color: #555555;
    cursor: pointer;
    
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all event;
}

.select:hover::after{
    color: #555555;
}

#errorM{
  text-align: center;
  color: #DD0000;
}
/*指定エリア+テーマ　ボックス　CSS　終了*/
/* 検索ボックス　CSS　終了 */
/* Opening エリア CSS　終了*/

/*-------------------------------------------------*/

/*最近イベントCSS　開始*/

#deco_ft{
  padding-top: 20px;
  text-align: center;
}

#deco_ft img{
  width: 60%;
}

.slider_container h1{
  color: #DD0000;
  text-align: center;
  font-family: 'HandWriteFont';
}

.img_box img{
  width: 347px;
  height: 180px;
  object-fit: cover;
}

.slider_container .container{
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}

.card_slider{
  padding: 50px;
}

.HP_eventDetails{
  display: grid;
  background-color: #DD0000;
  padding: 10px;
}

.HP_eventDetails h2{
  margin: 5px 0px;
  color: white;
}

.HP_eventDetails p{
  margin: 5px 0px;
  color: white;
}

.swiper-pagination{ 
  color: #DD0000;
}

a {
  text-decoration: none;
}


/*最近イベントCSS　終了*/

/* ポイント順位TOP10の参加者 */

.slider_top10 h1{
  color: #DD0000;
  text-align: center;
  font-family: 'HandWriteFont';
  font-size: 65px;
}

.slider_top10 .container{
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}

#pointArea{
  display: flex;
}

#pointIcon{
  width: 30px;
  height: 30px;
}

.HP_userDetails{
  border: 2px dashed #DC0000;
  border-radius: 5px;
  resize: none;
  width:-webkit-fill-available;
  display: grid;
  background-color: white;
  padding: 10px;
}

.HP_userDetails h2{
  margin: 5px 0px;
  color: #DC0000;
}

.HP_userDetails p{
  margin: 5px 0px;
  color: #DC0000;
}


  /*メリット一覧CSS　開始*/
  /* #meritArea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  } */

  /* #redDecoBox{
    border-left: 6px solid #DD0000;
    height: 365px;
    left: 50%;
    top: 60px;
    margin-right: 50px;
  } */

  /* #meritBigBox h1{
    font-family: 'HandWriteFont'; 
    color: #DD0000;
    font-size: 45px;
  }

  #meritBigBox{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #meritSmallBox{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #meritBox1 p{
    width: 300px;
    text-align: center;
    background-color:#cbcbcb;
    border-radius: 3rem;
    margin: 30px;
    padding: 20px;

  }

  #meritBox2 p{
    width: 300px;
    text-align: center;
    background-color:#cbcbcb;
    border-radius: 3rem;
    margin: 30px;
    padding: 20px;
  
  } */

  /* #meritBox1 p:hover,
  #meritBox2 p:hover{
    background-color:#DD0000;
  } */

  /*メリット一覧CSS　終了*/

  #deco_hm{
    margin-bottom: 50px;
  }

  #deco_hm img{
    width: 100%;
  }

/* Merit Box test area*/

/* #meritArea{
  display: grid;
  justify-content: center;
  align-items: center;
} */

.meritbox{
  background: #DD0000;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  box-shadow: 11px 12px 10px gray;
}

.meritcontent{
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 195px 0px;
}

.meritcontent h3{
  color: #ffffff;
  font-family: 'HandWriteFont';
  font-size: 110px;
}

.meritArea{
  position: relative;
  margin-top: 30px;
}

.meritInner{
  position: relative;
  height: 200vh;
}

#meritTitleBox{
  display: flex;
  justify-content: end;
  margin-right: 30px;
}

#meritTitle{
  font-family: 'HandWriteFont';
  color: #DD0000;
  font-size: 65px;
  position: absolute;
  z-index: 4;
}

#merit1{
  width: 46%;
  padding: 20px;
  position: absolute;
  z-index: 2;
  left: 201px;
}

#merit2{
  width: 40%;
  padding: 20px;
  position: absolute;
  z-index: 3;
  left: 652px;
  top: 254px;
}

#merit3{
  width: 42%;
  padding: 20px;
  position: absolute;
  z-index: 1;
  left: 148px;
  top: 505px;
}

#merit4{
  width: 40%;
  padding: 20px;
  position: absolute;
  z-index: 0;
  left: 532px;
  top: 700px;
}