
/* Opening エリア CSS　開始*/

/* #Opening  img{
    width: 100%;
    padding: 20px;
    z-index: 1;
} */

#home img{
  display: none;
  width: 100%;
  padding: 20px;
  z-index: 1;
}

#home img:first-child {
  display: block;
}

#Opening{
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    margin-top: 0px;
  }

  
/*検索ボックス　CSS　開始 */

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#search{
    width:100%;
    position: absolute;
    z-index: 500;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-bar{
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 10px 25px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color:#555555;
}

::placeholder{
    color:#555555;
}

.search-bar button img{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 115px;
    height: 65px;
    background-color:#999999;
    cursor: pointer;
}

/*ホーム写真自動的に変更エリア　CSS　開始 */



/*ホーム写真自動的に変更エリア　CSS　終了 */


/*指定エリア+テーマ　ボックス　CSS　開始 */

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: rgba(255, 255, 255, 0.5);
    background-image: none;
    border-radius: 10px;
}

select::-ms-expand{
    display: none;
}

.select{
    position: relative;
    display: flex;
    width: 15em;
    height: 3em;
    line-height: 3;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px) saturate(180%);
    overflow: hidden;
    border-radius: 10px
}

select {
    flex: 1;
    padding: 0.5em;
    color: #555555;
    cursor: pointer;
    
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all event;
}

.select:hover::after{
    color: #555555;
}

#errorM{
  text-align: center;
  color: #DD0000;
}
/*指定エリア+テーマ　ボックス　CSS　終了*/
/* 検索ボックス　CSS　終了 */
/* Opening エリア CSS　終了*/

/*-------------------------------------------------*/

/*最近イベントCSS　開始*/

#deco_ft{
  text-align: center;
}

#deco_ft img{
  width: 60%;
}

.slider_container h1{
  color: #DD0000;
  text-align: center;
  font-family: 'HandWriteFont';
}

.img_box img{
  max-width: 100%;
}

.slider_container .container{
  padding: 0 15px;
  max-width: 1230px;
  margin: 0 auto;
}

.card_slider{
  padding: 50px;
}

.HP_eventDetails{
  display: grid;
  background-color: #DD0000;
  padding: 10px;
}

.HP_eventDetails h2{
  color: white;
}

.HP_eventDetails p{
  color: white;
}

.swiper-pagination{ /*how to change the color??*/
  color: #DD0000;
}

a {
  text-decoration: none;
}


/*最近イベントCSS　終了*/

  /*メリット一覧CSS　開始*/
  #meritArea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #redDecoBox{
    border-left: 6px solid #DD0000;
    height: 365px;
    left: 50%;
    top: 60px;
    margin-right: 50px;
  }

  #meritBigBox h1{
    font-family: 'HandWriteFont'; 
    color: #DD0000;
    font-size: 45px;
  }

  #meritBigBox{
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #meritSmallBox{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #meritBox1 p{
    background-color:#cbcbcb;
    border-radius: 3rem;
    margin: 30px;
    padding: 20px;
  }

  #meritBox2 p{
    background-color:#cbcbcb;
    border-radius: 3rem;
    margin: 30px;
    padding: 20px;
  }


  /*メリット一覧CSS　終了*/

  #deco_hm{
    margin-bottom: 50px;
  }

  #deco_hm img{
    width: 100%;
  }
