/*Header画像エリア  開始*/

#Merit_header img{
    width: 100%;
    height: 300px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

#Merit_header p {
  font-size: 70px;
  color: #DC0000;
  font-family: 'HandWriteFont';
  text-align: center;
  margin-bottom: 10px;
}
  
  /*Header画像エリア CSS 終了*/
  /*-------------------------------------------------*/

/* メリット一覧　CSS　開始*/

#Merit_Area{
  margin-top: 30px;
  margin-bottom: 20px;
}

#society,
#friends,
#communicate,
#jobs{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

#society a,
#communicate a{
  width: 350px;
  margin-right: 25px;
}

#friends a,
#jobs a{
  width: 350px;
  margin-left: 25px; 

}

#society img,
#friends img,
#communicate img,
#jobs img{
  width: 350px;
}

#society p,
#friends p,
#communicate p,
#jobs p{
  width: 500px;
}

#deco_hm{
  margin-bottom: 50px;
}

#deco_hm img{
  width: 100%;
}
