@font-face {
    font-family: 'HandWriteFont';
    src: url(../font/851MkPOP_101.ttf) format('TrueType');
}
@font-face {
    font-family: 'OutlineFont';
    src: url(../font/GN-Natsu-iro-Schedule.ttf) format('TrueType');
}
@font-face {
    font-family: 'KleeOneFont';
    src: url(../font/KleeOne-Regular.ttf) format('TrueType');
}

html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }


    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 90%;
      object-fit: cover;
      padding: 20px;
    }