/*Header画像エリア ＋ ページ名CSS 開始*/

#userpage_header{
    display: flex;
}

#userpage_header img{
    width: 100%;
    height: 300px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1;
}

#userpage_tilte{
    background-color: #DD0000;
    top: 265px;
    left:70% ;
    padding: 20px 40px;
    z-index: 500;
    position: absolute;
    text-align: center;
    
}

#userpage_tilte h1{
    color: #ffff;
    font-size: 40px;
    font-family: 'OutlineFont';
}

#userpage_tilte p{
    color: #ffff;
    font-weight: bold;
}

/*Header画像エリア ＋ ページ名CSS 終了*/
/*-------------------------------------------------*/

/* 個人アイコン＋自己紹介エリア CSS 開始 */

#selfInfo_TopArea{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

#selfIcon_pic img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#redDecoBox{
    border-left: 6px solid #DD0000;
    height: 330px;
    margin-right: 50px;
    margin-left: 50px;
  }

#selfInfo_Box{
    padding-top: 120px;
}

#selfInfo_Box h1{
    font-family: 'HandWriteFont';
    font-size: 60px;
    padding: 10px 0px;
}

#pointArea{
    display: flex;
}

#pointIcon{
    width: 30px;
    height: 30px;
}

#pointArea p{
    padding-top: 4px;
}

.word-break {
    display: flex;
  }
  
.word-break div {
    margin-top: 20px;
    /* border: 2px solid red; */
    width: 380px;
}
  
.normal p{
    word-break: break-all;
  }

/* 個人アイコン＋自己紹介エリア CSS 終了*/
/*-------------------------------------------------*/

/* 投稿写真＋イベント履歴エリア CSS 開始 */

/*ボタン*/
#userView_Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

#imgBtn{
    padding: 15px 40px;
    margin: 0px 20px;
    background-color: #ffffff;
    border: dashed 2px #DC0000;
    border-radius: 10px;
    font-family: 'HandWriteFont';
    font-size: 25px;
    box-shadow: 7px 5px 5px gray;
    color: black;
    text-decoration: none;
}

#historyBtn{
    padding: 15px 40px;
    margin: 0px 20px;
    background-color: #ffffff;
    border: dashed 2px #DC0000;
    border-radius: 10px;
    font-family: 'HandWriteFont';
    font-size: 25px;
    box-shadow: 7px 5px 5px gray;
    color: black;
    text-decoration: none;
}

#userpostBtn{
    padding: 15px 40px;
    margin: 0px 20px;
    background-color: #ffffff;
    border: dashed 2px #DC0000;
    border-radius: 10px;
    font-family: 'HandWriteFont';
    font-size: 25px;
    box-shadow: 7px 5px 5px gray;
    color: black;
    text-decoration: none;
}

#userView_Btn button:hover{
    background-color: #DC0000;
    color: #ffffff;
    border: dashed 2px #ffffff;
}

#userpostBtn:hover{
    background-color: #DC0000;
    color: #ffffff;
    border: dashed 2px #ffffff;
}

/*写真*/

#userPostImg{
    /*display:none to grid*/
    display: grid;
    justify-content: center;
    align-items: center;
}

.imgRow{
    display: flex;
}

.imgBox img{
    width: 40vmin;
    height: 40vmin;
    margin-right: 30px;
    margin-bottom: 30px;

}
/* ポップアップエリア */

.full-screen{
    /* position: absolute; */
    position: fixed; 
    display: inline-block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    color: white;
    z-index: 10000000;
}

.flex-container-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

/* .full-screen img {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


.hidden{
    display: none;
}

.close-Popup{
    color: white;
    font-size: 50px;
    text-decoration: none;
    position: absolute;
    top: -20;
    z-index: 100;
    right: 390px;
    text-shadow:0 0 0.125em hsl(0 0% 100%/ 0.5), 0 0 0.45em currentColor;
}

#hidden-content{
    display: flex;
}

#hidden-content-left{
    display: grid;
}

#hidden-content-left img{
    width: 400px;
    height: 400px;
}

#hidden-content-right{
    display: grid;
    margin-left: 30px;
}

#hidden-content-right a{
    color: #ffffff;
}



/*イベント履歴*/
.eventHistory{
    /* display: none to block; */
    display: none;
}

.place-content{
    display: grid;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.event-item{
    width: 600px;
    height: 230px;
    background:#eeeeee;
    border-radius: 10px;
    padding:25px 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

.item-box{
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    color: #555555;
}

.event-item:hover{
    background:#999999;
}

.center-item{
    display: flex;
    width: 100%;
    align-items: center;
}

.event-item img{
    width: 40vmin;
    height: 40vmin;
    margin-right: 30px;
    object-fit: cover;
}

.event-item h5{
    padding: 0px 45px;
}

.eventControl{
    display: block;
}

.information{
    padding-right: 60px;
}

.eventControl_Img img{
    width: 30vmin;
    height: 30vmin;
    margin-right: 30px;
    object-fit: cover;
}

/* 投稿写真＋イベント履歴エリア CSS 終了 */